- if mod.latest_version and mod.latest_version.has_files?
  .mod-link.btn.btn-download
    %a{href: mod.latest_version.files.first.attachment.url}
      = icon 'download'
      Download
    %ul.btn-download-versions
      - mod.latest_mod_file_and_version(2) do |version, file|
        %li
          %a{href: file.attachment.url}
            = icon 'cog'
            %span(title='Factorio version')= version.game_versions_string
            \/
            %span(title='Mod version')= version.number
            %span(title='Mod file name')= file.name
            -#= "v#{file.mod_version.game_versions_string}"
      - if mod.versions.size > 2
        %li
          = link_to 'More versions...', category_mod_path(mod.category, mod, anchor: 'download')