- if mod.last_version_has_downloads?
  .mod-download-button.btn.btn-download
    %a{href: mod.first_available_download_url}
      = icon 'download'
      = t('.download')
    %ul.btn-download-versions
      - mod.download_files(2) do |version, file|
        %li
          %a{href: file.available_url}
            = icon 'cog'
            %span(title='Factorio version')= version.game_versions_string
            \/
            %span(title='Mod version')= version.number
            %span(title='Mod file name')= file.name
      = mod.more_downloads_link(2)