.filter-bar
  .filter-bar-item
    .version-filter
      %select.input.version-filter-input
        %option{value: version_filter_url(nil)}= t('.any_game_version')
        - @game_versions.each do |version|
          = version_filter_option version
  .filter-bar-item
    %h2.categories-filter-title= t('.categories')
    %ul.categories-filter
      %li.category-filter
        = category_link nil do
          %i.fa.fa-cog
          = t('.all')
          (#{all_categories_mods_count})
      - @categories.each do |category|
        %li.category-filter
          = category_link category do
            %i{class: category.icon_class}
            = category.name
            (#{category_probabilistic_count(category)})
            