.nested-fields.mod-version-file
  = f.inputs name: attachment_title(f.object, :attachment) do
    = f.input :attachment, label: attachment_label(f.object, :attachment)
    = f.input :name, placeholder: "File name (only if multiple files)"
    = f.input :download_url
    %li.nested-fields-remove
      = link_to_remove_association "&times;".html_safe, f