.mod-form
  = semantic_form_for mod do |f|
    = f.inputs do
      = f.input :name
      = f.input :info_json_name
      = f.input :slug if can? :set_slug, mod
      = f.input :categories, as: :categories_select
      = f.input :owner if can? :set_owner, mod
      = f.input :author_name, as: :datalist, collection: mods_authors_list if can? :set_owner, mod
      = f.input :additional_contributors
      = f.input :github
      = f.input :official_url
      = f.input :contact
      = f.input :forum_url
      = f.input :forum_subforum_url
      = f.input :imgur
      = f.input :summary, as: :text
      = f.input :visible if can? :set_visibility, mod
      %li.nested-form.mod-versions
        = f.semantic_fields_for :versions do |ff|
          = render 'version_fields', f: ff
        -# .nested-form-links.mod-versions-links
        -#   = link_to_add_association t('.add_version'), f, :versions
    // Nested mod versions
    // Nested mod files
    // Nested mod files
    = f.actions do
      = f.action :submit
  - if @mod.forum_url.present?
    .mod-forum
      %iframe.mod-forum-iframe{src: @mod.forum_url}
