%ul.mod-data
  %li{class: ('wide' if @mod.authors_count > 2)}
    .data-name= t('.game_version')
    .data-value= @mod.game_versions_string
  %li{class: ('wide' if @mod.authors_count > 2)}
    .data-name= t('.authors', count: @mod.authors_count)
    .data-value= @mod.authors_links_list
  - if @mod.additional_contributors.present?
    %li.wide
      .data-name= t('.additiona_contributors')
      .data-value= @mod.additional_contributors
  %li.wide
    .data-name= t('.first_version')
    .data-value= @mod.first_release_info
  %li.wide
    .data-name= t('.last_version')
    .data-value= @mod.last_release_info
  %li.wide
    .data-name= t('.source')
    .data-value= @mod.github_link
  %li.wide
    .data-name= t('.forum_url')
    .data-value= @mod.forum_link(:long)
