%ul.mod-data
  %li
    .data-name Factorio version
    .data-value= if_na(@mod.game_versions_string)
  %li
    .data-name Author
    .data-value= if_na(@mod.author, nil, @mod.author_name) { link_to @mod.author_name, @mod.author }
  %li{class: ('wide' if @mod.has_versions?)}
    .data-name First version
    .data-value= if_na(@mod.has_versions?) { mod_release(@mod.versions.first) }
  %li{class: ('wide' if @mod.has_versions?)}
    .data-name Last version
    .data-value= if_na(@mod.has_versions?) { mod_release(@mod.versions.last) }
  %li.wide
    .data-name Source
    .data-value= if_na(@mod.github) { link_to @mod.github_url, @mod.github_url }
  %li.wide
    .data-name Forum post URL
    .data-value
      = if_na(@mod.forum_url) do
        - if @mod.forum_post
          = forum_post_stats_link
        - else
          = link_to "On the Factorio forums", @mod.forum_url
  - if @mod.forum_subforum_url.present?
    %li.wide
      .data-name Subforum URL
      .data-value= link_to @mod.forum_subforum_url