- if current_page? '/'
  - title t 'title.root'
- else
  - if @game_version
    - title_append t('title.mods.index.version', version: @game_version.number)
  - title_append t('title.mods.index.mods')
  - if @category
    - title_append t('title.mods.index.category', category: @category.name)
  - if @sort
    - title_append t(@sort, scope: 'title.mods.index.sort')
  - title

= render partial: 'filter_bar'

- unless current_page? '/'
  = render partial: 'mods_filters_list'

- if @query
  .info-box
    Huh? Trying to search? Search is pretty basic and plain for now. I apologize the inconvinience.

.mods-index
  - @mods.each do |mod|
    .mod
      .mod-thumbnail-container<
        %a.mod-thumbnail{href: mod.first_asset.image.url(:full)}
          %img.asset-thumbnail{src: mod.first_asset.image.url(:thumb), width: '100%'}
      .mod-info-container
        %h2.mod-title
          = link_to mod.name, mod, class: 'highlight-query'
        .mod-subtitle
          on
          = link_to mod.category.name, [mod.category, :mods]
        .mod-summary.highlight-query= mod.summary
      .mod-links
        - unless mod.forum_post_url.blank?
          %a.mod-link{href: mod.forum_post_url, title: 'Post on the official Factorio forum'}
            = mod.forum_comments_count unless mod.forum_comments_count.blank?
            = icon 'comments'
        %span.mod-link{title: "#{mod.latest_version.released_at.to_s(:rfc822)} - Date of the latest version of this mod"}
          = time_ago_in_words mod.latest_version.released_at
          = icon 'history'
        %span.mod-link(title='Last Factorio version this mod works with')
          = "v#{mod.game_versions_string}"
          = icon 'cog'
        %span.mod-link{title: 'The awesome person behind this mod'}
          = mod.author_name
          = icon 'user'
        -# %a.mod-link.mod-official-site{href: '#'}
        -#   Official mod site
        = render partial: 'download_button', locals: { mod: mod }