- if current_page? '/'
  - title t 'title.root'
- else
  - if @game_version
    - title_append t('title.mods.index.version', version: @game_version.number)
  - title_append t('title.mods.index.mods')
  - if @category
    - title_append t('title.mods.index.category', category: @category.name)
  - if @sort
    - title_append t(@sort, scope: 'title.mods.index.sort')
  - title

= render partial: 'filter_bar'

- unless current_page? '/'
  = render partial: 'mods_filters_list'

- if @query
  .info-boxrr
    Huh? Trying to search? Search is pretty basic and plain for now. I apologize the inconvenience.

.mods-index
  - @mods.each do |mod|
    .mod
      .mod-thumbnail<
        %a.mod-thumbnail-link{href: mod_url(mod)}
          - if mod.media_links.size > 0
            %img.mod-thumbnail-img{src: mod.media_links.first.thumbnail_url}
          - else
            %img.mod-thumbnail-img{src: mod_asset_missing_image(:thumb), title: 'No image available'}
      .mod-info-container
        %h2.mod-title
          = link_to mod.name, mod, class: 'highlight-query'
        .mod-subtitle
          = mod_category_link mod
        .mod-summary.highlight-query= mod.summary
      .mod-links
        - if mod.forum_url.present?
          - if mod.forum_post
            %a.mod-link{href: mod.forum_url, title: "#{mod.forum_post.views_count} views and #{mod.forum_post.comments_count} comments on the official Factorio forum"}
              #{mod.forum_post.views_count}<abbr title="Views">V</abbr> / #{mod.forum_post.comments_count}<abbr title="Comments">C</abbr>
              = icon 'comments'
          - else
            %a.mod-link{href: mod.forum_url, title: 'Post on the official Factorio forum'}
              Forum
              = icon 'comments'

        - if mod.latest_version.present? and mod.latest_version.released_at.present?
          %span.mod-link{title: "#{mod.latest_version.released_at.to_s(:rfc822)} - Date of the latest version of this mod"}
            = mod_date mod.latest_version.released_at
            = icon 'history'
        - if mod.game_versions_string.present?
          %span.mod-link(title='Last Factorio version this mod works with')
            = "v#{mod.game_versions_string}"
            = icon 'cog'
        %span.mod-link{title: 'The awesome person behind this mod'}
          = mod.author_name
          = icon 'user'
        -# %a.mod-link.mod-official-site{href: '#'}
        -#   Official mod site
        = render partial: 'download_button', locals: { mod: mod }