.mods-edit
  - if @mod.new_record?
    %h2 Create new mod
  - else
    %h2 Edit #{@mod.name}
  = semantic_form_for @mod do |f|
    = f.inputs do
      = f.input :name
      = f.input :category
      = f.input :author_name if current_user.is_admin?
      = f.input :github
      = f.input :official_url
      = f.input :forum_url
      = f.input :description
      = f.input :summary
      = f.input :media_links_string, as: :text, hint: t('formtastic.hints.mod.media_links_string').html_safe
      %li.nested-form.mod-versions
        = f.semantic_fields_for :versions do |ff|
          = render 'version_fields', f: ff
        .nested-form-links.mod-versions-links
          = link_to_add_association 'Add version', f, :versions

    // Nested mod versions
    // Nested mod files
    // Nested mod files
    = f.actions do
      = f.action :submit