- title t 'title.mods.show', name: @mod.name

.mods-show
  .mod
    .mod-images<
      %ul.mod-medium-images
        - if @mod.media_links.empty?
          .mod-medium-image.active
            .mod-medium-image-container
              %img.mod-medium-image-img{src: mod_asset_missing_image(:medium)}
        - @mod.media_links.each_with_index do |media_link, i|
          %li.mod-medium-image{class: ('active' if i == 0)}
            = media_link.embed
            / %a.mod-medium-image-link{href: media_link.direct_url, target: '_blank'}
            /   %img.mod-medium-image-img{src: asset.direct_url}
      %ul.mod-thumb-images{class: ('many-thumbs' if @mod.media_links.size > 3)}
        - @mod.media_links.each do |media_link|
          %li.mod-thumb-image{'data-thumb-of' => media_link.direct_url}<>
            %span.mod-thumb-image-container
              %img.mod-thumb-image-img{src: media_link.thumbnail_url}

    / .mod-thumbnail-container<
    /   - @mod.assets.each_with_index do |asset, i|
    /     %a.mod-thumbnail{href: asset.image.url(:full), target: "_blank", 'data-thumb' => asset.id, class: ('active' if i == 0)}
    /       %img.asset-thumbnail{src: asset.image.url(:medium)}
    /   .mod-thumbnail-thumbnails
    /     - @mod.assets.each do |asset|
    /       %a.mod-thumbnail-thumbnail{href: asset.image.url(:full), target: "_blank"}
    /         %img.asset-thumbnail-thumbnail{src: asset.image.url(:thumb), 'data-thumb-of' => asset.id}
    .mod-info-container
      %h2.mod-title= @mod.name
      .mod-subtitle
        on
        = link_to @mod.category.name, [@mod.category, :mods]
        %a.edit-mod-link{href: edit_mod_url(@mod)} Edit mod
      = render partial: 'mod_data_table'
      = render partial: 'download_button', locals: { mod: @mod }
    .mod-description
      %h3 Description
      = @mod.description_html
    .mod-downloads#downloads
      %h3 Downloads
      %table.mod-downloads-table
        %thead
          %tr
            %th Mod version
            %th Factorio version
            %th File download
            %th Release date
        %tbody
          - @mod.latest_mod_file_and_version do |version, file|
            %tr
              %td= "#{version.number} #{file.name}"
              %td= version.game_versions_string
              %td= link_to "#{file.attachment_file_name} (#{number_to_human_size(file.attachment_file_size)})", file.attachment.url
              //%td= pretty_date version.released_at.to_s(:rfc822)
              %td= mod_date version.released_at
