- title t '.title', name: @mod.name

- content_for :info_box, @mod.visibility_notice

.mods-show
  .mod
    .mod-image= @mod.img_link
    .mod-info-container
      %h2.mod-title= @mod.name
      .mod-subtitle
        = @mod.categories_links
        = @mod.edit_link
      .mod-summary= @mod.pretty_summary
      = render partial: 'mod_data_table'
      = render partial: 'download_button', locals: { mod: @mod }
    .mod-downloads#downloads
      - if @mod.has_files?
        %h3= t('.all_releases')
        %table.mod-downloads-table
          %thead
            %tr
              %th= t('.downloads_table.mod_version')
              %th= t('.downloads_table.game_version')
              %th= t('.downloads_table.file_version')
              %th= t('.downloads_table.release_date')
          %tbody
            - @mod.download_files do |version, file|
              %tr
                %td= "#{version.number} #{file.name}"
                %td= version.game_versions_string
                %td= link_to_file_url_with_name(file)
                %td= release_info version
      - else
        %h3= t('.no_downloads')
    .mod-forum
      %h3= @mod.forum_iframe_title
      .mod-forum-iframe-cover
        %iframe.mod-forum-iframe{src: @mod.preferred_forum_url}