- title t 'title.mods.show', name: @mod.name

.mods-show
  .mod
    .mod-image
      - if @mod.imgur
        %a.mod-image-link{href: @mod.imgur_normal, target: '_blank'}
          %img.mod-image-img{src: @mod.imgur_large_thumbnail}
      - else
        %img.mod-image-img.mod-image-img-missing{src: missing_image_medium, title: 'No image available'}
    .mod-info-container
      %h2.mod-title= @mod.name
      .mod-subtitle
        - @mod.categories.each do |category|
          = category_tag_link category
        - if can? :edit, @mod
          %a.mod-subtitle-edit-link{href: edit_mod_url(@mod)} Edit mod
      .mod-summary
        = @mod.summary
      = render partial: 'mod_data_table'
      = render partial: 'download_button', locals: { mod: @mod }
    .mod-downloads#downloads
      - if @mod.has_files?
        %h3 All releases
        %table.mod-downloads-table
          %thead
            %tr
              %th Mod version
              %th Factorio version
              %th File download
              %th Release date
          %tbody
            - @mod.latest_mod_file_and_version do |version, file|
              %tr
                %td= "#{version.number} #{file.name}"
                %td= version.game_versions_string
                %td= link_to_file_url_with_name(file)
                //%td= pretty_date version.released_at.to_s(:rfc822)
                %td= mod_date version.released_at
      - else
        %h3 This mod doesn't have anything to download :(
    - if @mod.subforum_url.present?
      .mod-forum
        %h3 Mod subforum
        .mod-forum-iframe-cover
          %iframe.mod-forum-iframe{src: @mod.subforum_url}
    - elsif @mod.forum_url.present?
      .mod-forum
        %h3
          Mod forum post
          - if @mod.forum_post
            = forum_post_stats_link
        .mod-forum-iframe-cover
          %iframe.mod-forum-iframe{src: @mod.forum_url}
