- title t 'title.mods.show', name: @mod.name

.mods-show
  .mod
    .mod-thumbnail-container<
      - @mod.assets.each_with_index do |asset, i|
        %a.mod-thumbnail{href: asset.image.url(:full), target: "_blank", 'data-thumb' => asset.id, class: ('active' if i == 0)}
          %img.asset-thumbnail{src: asset.image.url(:medium)}
      .mod-thumbnail-thumbnails
        - @mod.assets.each do |asset|
          %a.mod-thumbnail-thumbnail{href: asset.image.url(:full), target: "_blank"}
            %img.asset-thumbnail-thumbnail{src: asset.image.url(:thumb), 'data-thumb-of' => asset.id}
    .mod-info-container
      %h2.mod-title= @mod.name
      .mod-subtitle
        on
        = link_to @mod.category.name, [@mod.category, :mods]
      = render partial: 'mod_data_table'
      = render partial: 'download_button', locals: { mod: @mod }
    .mod-description
      %h3 Description
      = @mod.description_html
    .mod-downloads#downloads
      %h3 Downloads
      %table.mod-downloads-table
        %thead
          %tr
            %th Mod version
            %th Factorio version
            %th File download
            %th Release date
        %tbody
          - @mod.versions.reverse.each do |version|
            - version.files.each do |file|
              %tr
                %td= "#{version.number} #{file.name}"
                %td= version.game_versions_string
                %td= link_to "#{file.attachment_file_name} (#{number_to_human_size(file.attachment_file_size)})", file.attachment.url
                %td= version.released_at.to_s(:rfc822)
