- title 'Password recovery'

%h2 Forgot your password?
= semantic_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = f.inputs do
    = f.input :email, required: true, autofocus: true
  = f.actions do
    = f.action :submit, label: 'Recover password'
= render "devise/shared/links"
