- title 'Login'

%h2 Login
= semantic_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :email, required: false, autofocus: true
    = f.input :password, required: false
    = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
  = f.actions do
    = f.action :submit, label: 'Login'
= render "devise/shared/links"
