.header
  %h1.logo
    %a{href: '/'}
      Fact<i class="fa fa-cog"></i><span>o</span>ri<i class="fa fa-cog"></i><span>o</span>
      M<i class="fa fa-cog"></i><span>o</span>ds
  .user-session
    - if user_signed_in?
      = link_to current_user.name, user_path(current_user)
      |
      = link_to t('.sign_out'), destroy_user_session_path
    - else
      = link_to t('.sign_in'), new_user_session_path
      |
      = link_to t('.sign_up'), new_user_registration_path
  .instructions
    .instructions-button
      = t('.how_to.start')
      %a{href: how_to_install_static_url}
        %strong= t('.how_to.install')
      \/
      %a{href: how_to_make_static_url}
        %strong= t('.how_to.make')
      \/
      %a{href: how_to_submit_static_url}
        %strong= t('.how_to.submit')
      = t('.how_to.end')