!!!
%html
  %head
    %title= yield :title
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Titillium+Web:400,600'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link(rel="shortcut icon" href="/favicon.ico?v=2")
    = render partial: 'layouts/google_analytics'
  %body{class: body_controller_classes}
    .page-wrap
      .container
        = render partial: 'layouts/header'
        = render partial: 'layouts/search_bar'
        - flash.each do |key, value|
          - unless value.blank?
            .flash{class: key}
              .flash-value= value

        .content{class: "content-#{content_layout}"}
          = yield
      .footer-spacer

    = render partial: 'layouts/footer'
    = javascript_include_tag 'application', 'data-turbolinks-eval' => false
