!!!
%html
  %head
    %title= yield :title
    / %link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet")
    %script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link(rel="shortcut icon" href="/favicon.ico?v=2")
  %body{class: [params[:controller], params[:action]]}
    .page-wrap
      .container
        = render partial: 'layouts/header'
        = render partial: 'layouts/search_bar'
        .content
          = yield
      .footer-spacer

    = render partial: 'layouts/footer'
    / .image-modal
    /   / %a.image-modal-link{href: 'http://placekitten.com/1920/1080'} Direct link
    /   .image-modal-canvas
    /     %img.image-modal-img{src: 'http://placekitten.com/1920/1080'}
    /   .image-modal-arrow.image-modal-next
    /   .image-modal-arrow.image-modal-prev
    /   .image-modal-close
